name: CI
run-name: CI triggered by ${{ github.actor }}

on:
  push:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'
    - name: install revive
      run: go install github.com/mgechev/revive@latest
    - name: lint
      run: make lint
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: test
        run: make test
